<p>presentation works!</p>



<br>
<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>
<div id="presentation">
              
			
    <article>
        <h2>Développeur Web/Web Mobile</h2>
        <img src="../assets/img/developpeur-web.jpg" alt="" width="100%">
        <p>L’évolution rapide du monde du web ainsi que l’ascendance des nouvelles technologies font du développeur un métier incontournable. Les besoins de la clientèle évoluent sans cesse et le développeur ou appelé encore programmeur spécialisé ou technicien informatique doit se conformer aux exigences du secteur d’autant plus que c’est le poste le plus recherché par toutes les entreprises de presque toutes les catégories en ce moment.
        </p>
                    
    </article>
    <article>
        <h2>Mes objectifs au sein de l'AFPA</h2>
        <p><strong>Développer la partie front-end d’une application web ou web mobile en intégrant les recommandations de sécurité : </strong> <br><br> maquettage d'une application - Réalisation d'une interface utilisateur web statique et adaptable - Développement d'une interface utilisateur web dynamique - Réalisation d'une interface utilisateur avec une solution de gestion de contenu ou e-commerce </p>
        <p><strong> Développer la partie back-end d’une application web ou web mobile en intégrant les recommandations de sécurité : </strong> <br><br> Création d'une base de données - Développement des composants d’accès aux données - Développement de la partie back-end d’une application web ou web mobile - Elaboration et mise en œuvre des composants dans une application de gestion de contenu ou e-commerce </p>	
    </article>

</div>