<p>contact works!</p>

<div id="contact">
    <section> 
        <article>
            <h2>Restons en <strong>contact</strong></h2>
            <p>
                <label for="nom">*Nom:</label><br/>
                <input type="text" name="nom" id="nom" />
            </p>
            <p>
                <label for="prenom">*Prenom:</label><br/>
                <input type="text" name="prenom" id="prenom" />
            </p>
            <p>
                <label for="message">Message</label><br/>
                <textarea id="message"></textarea>
            </p>
            <p>
                <label for="email">*Email:</label><br/>
                <input type="email" id="email" name="email" />
            </p>
            <p>
                <button id="env">Envoyer</button>
            </p> 
            <h2>mon <strong>bureau</strong></h2>
            <address><strong>adresse:</strong> 2 allée de Haut GRIMPREL</address>
            <address><strong>telephone:</strong>06 31 36 33 50</address>
        </article>				
    </section>
</div>
